body,html {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;

}
.titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform-origin: 50% 90%;
    transform: perspective(150px) rotateX(13deg);

}
.title-content {
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 1s infinite;
}
@keyframes scroll {
0% { top: 100%; }
100% { top: -170%; }
}
